main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 40px;
}

.header {
    overflow: visible;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0 20px;
    gap: 50px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column; /* 세로로 요소 배치 */
        align-items: flex-start; /* 왼쪽 정렬 */
    }

    .auth-buttons {
        margin-top: 10px; /* 버튼들이 위쪽에 간격을 가짐 */
    }
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    transform: translateX(-50%);
}

.auth-buttons {
    display: flex;
    gap: 10px;
    margin-left: auto;
    position: absolute;
    right: 90px; /* 오른쪽에서 20px 떨어진 위치에 배치 */
}

.auth-button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px; /* 둥근 모서리로 부드럽게 만듦 */
    background: #6D9EEB;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 효과 */
}

.add-todo {
    padding: 10px 20px;
    margin: 10px auto;
    border: none;
    border-radius: 25px; /* 둥근 모서리로 부드럽게 만듦 */
    background: #6D9EEB;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 효과 */
}

.auth-button:hover {
    background-color: #5589CB;
}

.input-container input {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s ease;
}

input:focus {
    border-color: #4A90E2;
}

.input-container button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #357ABD;
}

.todo-need-login {
    width: 600px;
}

.todo-item {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    margin-bottom: 2px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.comment-list {
    list-style-type: none;
}

.comment-body {
    width: 100%
}

.comments-list li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    margin-top: 10px;
    background-color: #e9e9e9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: gray;
    margin-top: 5px;
    width: 100%;
}

.comment-actions {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    margin-left: auto;
}

.comment-actions button {
    padding: 3px 7px;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: auto;
}

.comment-actions button:first-of-type {
    background-color: #4CAF50;
    color: white;
}

.comment-actions button:last-of-type {
    background-color: #ffadad;
    color: white;
}

.comment-actions button:hover {
    opacity: 0.8; /* 호버 시 약간 어둡게 */
    transition: opacity 0.2s ease;
}

.todo-checkbox {
    margin-right: 10px; /* 체크박스와 텍스트 사이 간격 추가 */
    transform: scale(1.2); /* 체크박스 크기 약간 키우기 */
    vertical-align: middle;
}

.todo-text {
    font-family: 'Nanum Gothic', sans-serif;
    color: #333;
    text-decoration: none; /* 기본 텍스트 스타일 */
    line-height: 1.2;
    margin-right: 15px;
    font-size: 16px;
    cursor: pointer;
}

.edit-comment-input {
    width: 96%;
    padding: 10px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-comment-input:focus {
    outline: none; /* 포커스 시 기본 테두리 제거 */
    border-color: #4CAF50; /* 포커스 시 테두리 색상 변경 */
}

.new-comment {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.new-comment-input {
    width: 82%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.new-comment-input:focus {
    border-color: #007bff;
}

.new-comment-button {
    width: auto;
    height: 40px;
    background-color: #cccccc !important;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
}

ul.comments-list {
    padding-inline-start: 0 !important; /* padding 강제로 제거 */
}

.todo-text.completed {
    text-decoration: line-through; /* 체크된 경우 텍스트에 취소선 추가 */
    color: gray; /* 완료된 항목은 회색으로 변경 */
}

.todo-board {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.todo-board li {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px;
    margin-bottom: 2px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.todo-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.todo-actions {
    margin-left: auto;
}

.todo-update {
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-left: auto;
}

.todo-remove {
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-left: 5px;
}


.todo-list button:first-of-type {
    background-color: #4CAF50;
    color: white;
}

.todo-list button:last-of-type {
    background-color: #f08080;
}

.todo-list button:hover {
    opacity: 0.8; /* 호버 시 약간 어둡게 */
    transition: opacity 0.2s ease;
}

.todo-list li {
    display: flex;
    justify-content: flex-start; /* 기본 요소를 왼쪽에 정렬 */
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #87CEEB, #76EEC6);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    letter-spacing: 2px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.calendar-container {
    flex: 1; /* 달력이 좌측을 차지하도록 설정 */
    max-width: 400px;
}

/* 할 일 목록 스타일 */
.todo-board {
    flex: 2; /* 할 일 목록이 우측을 차지하도록 설정 */
    max-width: 600px;
}

.react-calendar {
    border: none !important;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 3% 5%;
    background-color: white;
}


.react-calendar__navigation {
    justify-content: center;
}

.react-calendar__navigation button {
    font-size: 1rem;
    color: #4A90E2;
    font-weight: bold;
}

.react-calendar__navigation button:disabled {
    color: #ccc; /* 비활성화 버튼 색상 */
}

.react-calendar__navigation button:focus {
    background-color: white;
}

.react-calendar__navigation__label {
    flex-grow: 0 !important;
}

.react-calendar__month-view__weekdays abbr {
    text-decoration: none;
    font-weight: 800;
}

.react-calendar__month-view__days__day {
    font-size: 1rem;
}


.react-calendar__tile {
    padding: 10px;
    border-radius: 10px; /* 셀에 둥근 모서리 추가 */
    transition: background-color 0.3s ease;
}

.react-calendar__tile:hover {
    background-color: #e0f7fa;
}

.react-calendar__tile--active {
    background-color: #4A90E2;
    color: white;
}

.react-calendar__tile--now {
    background-color: #E6E6FA;
    color: #000;
}

.react-calendar__tile--now:enabled:hover {
    background: #B0C4DE;
}

.react-calendar__tile--now:enabled:focus {
    color: white
}

.login-form-container {
    display: grid;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form-container h2 {
    text-align: center;
}

.login-form-container div {
    margin-bottom: 15px;
}

.login-form-container label {
    display: block;
    margin-bottom: 5px;
}

.login-form-container input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.login-form-container button {
    width: 100%;
    padding: 10px;
    background-color: aquamarine;
    color: white;
    border: none;
    border-radius: 5px;
}

.login-form-container button:disabled {
    background-color: #ccc;
}

.add-todo-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.add-todo-page h2 {
    text-align: center;
    margin-bottom: 20px;
}

.add-todo-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.update-todo-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.update-todo-page h2 {
    text-align: center;
    margin-bottom: 20px;
}

.update-todo-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.update-todo-page input, textarea, select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.update-todo-button {
    padding: 10px 20px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update-todo-button:hover {
    background-color: #357ABD;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

label {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.add-todo-page input, textarea, select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    width: 500px;
    height: 150px;
}

.add-todo-button {
    padding: 10px 20px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-todo-button:hover {
    background-color: #357ABD;
}

.add-user-container {
    display: grid;
    justify-content: center;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-user-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.add-user-container input {
    width: 300px;
}

.add-user-container button {
    width: 90px;
    padding: 10px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
}

.add-user-button {
    padding: 10px 20px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-user-button:hover {
    background-color: #357ABD;
}

.admin-login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.admin-login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.admin-login-container input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.admin-login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admin-login-container button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}

.admin-page {
    width: 80%;
    margin: 0 auto;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.admin-page button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    cursor: pointer;
}

.admin-page button.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

.tab-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 40px;
    height: 700px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    overflow: auto;
}

.user-table table {
    width: 100%;
    border-collapse: collapse;
}

.user-table th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

.user-table th {
    background-color: #f4f4f4;
}

.user-table tr:hover {
    background-color: #f1f1f1;
}

.user-table button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: lightgray;
}

.user-table button:disabled {
    background-color: #000000;
    cursor: not-allowed;
}

.user-table button:hover {
    opacity: 0.8;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

.modal-backdrop select {
    width: 100%;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.center-text {
    text-align: center;
}

.title {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}